.App {
  /* text-align: center; */
  font-family: 'Poppins', sans-serif;
  background-color: rgb(255, 242, 217);
  height: 100vh;
}

.card {
  width: 250px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 100;
}

label {
  width: max-content;
  color: tomato;
  font-size: 13px;
  border-bottom: 0.5px solid tomato;
  margin: 3px 0;
}

.list-container {
  display: flex;
  justify-content: center;
}

.list-subcontainer {
  background-color: rgb(241, 208, 165);
  padding: 20px;
  margin-top: 30px;
  border-radius: 20px;
  border: 5px solid tomato;
}

.credit {
  text-align: center;
}

.logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 20px;
  width: 25%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
